<img align=left src="Data/NUSlogo.png" width=125>
<br><br>


# RE2708 Lecture 2

## The PANDAS Library: Working with data

Dr. Cristian Badarinza

## Table of Contents

### Working with data

1. Dictionaries
1. Data frames
1. Reading data frames from a CSV file
1. Locating rows and columns
1. Cleaning
1. Grouping

# 1. Dictionaries

In addition to lists, Python also allows us to define a much more advanced data type, called a **DICTIONARY**, where don't need to use numbers as indexes, but we can use proper text labels. This makes it very easy to define for example a list of prices, without the need to remember the exact position of an item:

In [ ]:
my_temps = {'John': 37, 'Anne': 23}

my_temps['John']

In [ ]:
mylist = {
    "Apple": 950,
    "Samsung": 850,
    "Huawei": 700,
    "Xiaomi": 900,
}
print(mylist["Apple"])

How about some actual data? Isn't this a quite elegant way to store data?

In [ ]:
data = {'Phone type': ['iPhone 8','Galaxy S8','Redmi'],
        'Year of release': [2018,2017,2019],
        'Current price': ['$700','$800','$500'],
        'Expected battery time': ['3 days','4 days','2 days']}

## 2. Data frames

First things first, we start by importing the Python Data Analysis Library (`PANDAS`):

In [2]:
import pandas as pd

Remember our discussion about **objects** in Python. With the command above, we have just loaded the PANDAS library in an object called `pd`. You may wonder: Why should we bother doing that? Answer: Simply to make life easier.

To facilitate the kinds of computations and analyses that we are after, PANDAS works with objects of a slightly modified dictionary type that it calls `DataFrames`.

What is a **DataFrame** object? Remember the **dictionary** type we discussed last week? PANDAS stores data sets in a dictionary-type variable, and formats them nicely.

In [ ]:
df = pd.DataFrame(data={'Phone type': ['iPhone 8','Galaxy S8','Redmi'],
                        'Year of release': [2018,2017,2019],
                        'Current price': ['$700','$800','$500'],
                        'Expected battery time': ['3 days','4 days','2 days']})

In [ ]:
df

**Accessing single columns**

In [ ]:
df['Phone type']

## 3. Reading data from a CSV file

Most often, data sets are stored by their respective providers in CSV files, i.e. files containing *comma-separated values*. 

To read the content of a CSV file, PANDAS offers us the function `read_csv()`.

Let's use this function to load some data on HDB resale prices.

In [3]:
df = pd.read_csv('Data/hdb-transactions-2022.csv')

### Viewing data frames

The function `head()` shows the **first** 5 rows on the screen, nicely formatted:

In [6]:
df.head()

     month        town flat_type  floor_area_sqm      flat_model  resale_price
0  2022-01  ANG MO KIO    2 ROOM              44        Improved      250000.0
1  2022-01  ANG MO KIO    3 ROOM              73  New Generation      300000.0
2  2022-01  ANG MO KIO    3 ROOM              73  New Generation      328000.0
3  2022-01  ANG MO KIO    3 ROOM              68  New Generation      300000.0
4  2022-01  ANG MO KIO    3 ROOM              68  New Generation      273000.0

The function `tail()` shows the **last** 5 rows on the screen:

In [ ]:
df.tail()

### Summary statistics

First of all, let's get some quick summary statistics for our data set.

The function `describe()` shows us the number of observations, the mean of each variable, the minimum, maximum and other statistics:

In [ ]:
df.describe()

**Note**: The functions `round()` and `T` can be used to transpose the table and make it look nicer. Try it out in the cell above: `df.describe().round().T`

How about the other variables? Since they are not numerical, we cannot get a minimum and a maximum. Instead, we can ask Python to show us their unique values:

In [ ]:
print(df['town'].unique())

## 4. Locating rows and columns

What if we want to locate certain rows and certain columns?

In [7]:
df.loc[[1,2,3],['town','resale_price']]

         town  resale_price
1  ANG MO KIO      300000.0
2  ANG MO KIO      328000.0
3  ANG MO KIO      300000.0

What if we want to select transactions that meet a certain condition?

In [ ]:
df.loc[df['town']=='CLEMENTI',['town','resale_price']].describe()

What if we want to consider more than one town? Using the `isin()` method for filtering:

In [ ]:
df.loc[df['town'].isin(['JURONG EAST', 'JURONG WEST']),['town','resale_price']].describe()

## 5. Cleaning

Publicly available data often contains outliers, missing observations, or it simply extends beyond what we need in our analysis.

If we simply want to drop missing observations, we have a simple function available:

In [ ]:
df = df.dropna()

If we want to drop transactions where the price is obviously wrong, e.g. negative or zero, we use the locate (`loc`) function:

In [ ]:
df = df.loc[df['resale_price']>0]
df.describe()

## 6. Grouping

Grouping is by far the  most frequent operation that we want to do with data.

The function that PANDAS offers to do this is called `groupby` and it is used together with functions such as `max` or `mean` or `count`:

In [ ]:
df.groupby('town').mean()

What if we want to sort towns in increasing order of prices?

In [8]:
df.groupby('town').mean().sort_values(by='resale_price')

              floor_area_sqm   resale_price
town
WOODLANDS         102.289141  351016.347661
JURONG WEST        98.042530  366978.926936
ANG MO KIO         82.427632  387633.717105
JURONG EAST        92.916955  406199.304498
PUNGGOL            95.924584  442388.791381
TAMPINES          104.325714  449123.000000
CLEMENTI           84.413333  466452.753333
CENTRAL AREA       76.039474  468907.894737
GEYLANG            87.885246  494735.803279

### THE END